header {
  background-color: #ffffff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  transition: all 0.3s ease; /* Add this line for smooth transitions */
}

.nav-content {
  display: flex;
  align-items: center;
}

.vertical-separator {
  width: 2px;
  height: 60px; /* Adjust the height as needed */
  background-color: black;
  margin: 0 20px;
}


nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  top: 0;
  left: 0;
  right: 0;
  background-color: #fff;
  transition: all 0.3s ease;
  height: 136px;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
  /* Add this line */
  z-index: 99999;
}

.logo-wrapper {
  display: flex;
  align-items: center;
  text-decoration: none;
  padding: 0px;
  margin: 0;
  height: 90px; /* Set a specific height for the logo wrapper */
}
.logo-img-wrapper {
  height: 100%; /* Set the height of the image wrapper to 100% */
  align-items: center;
  display: flex;
}

.logo-img-wrapper img {
  height: 80%;
  width: auto;
  padding: 1px;

}



.logo-wrapper div {
  font-size: 25px;
  font-weight: 900;
  text-transform: uppercase;
  color: var(--clr-dark);
  height: 90px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* padding: 10px; */
  width: max-content;
  margin-left: 5px;
  margin-right: 5px;
}

.logo-wrapper span {
  font-size: 25px;
  font-weight: 900;
  color: var(--clr-orange);
}

/* Second Navigation Bar styles */
.second-nav {
  position: sticky;
  top: 0;
  background-color: #25232a;
  height: 50px;
  z-index: 999;
}

.second-nav.fixed {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #25232a; /* Adjust as needed */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Adjust as needed */
}



.second-nav-list {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
}

.second-nav-list li {
  margin-right: 20px;
}

.second-nav-list li:last-child {
  margin-right: 0;
}

.second-nav-list a {
  text-decoration: none;
  color: #f1f5f9;
  font-size: 16px;
  font-weight: 700;
  transition: color 0.3s ease;
}

.second-nav-list a:hover {
  color: #94a3b8;
}

.fixed-nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}