/* 
/* sm */
@media screen and (min-width: 640px) {
    .container {
        max-width: 640px;
    }
}

/* md */
@media screen and (min-width: 768px) {
    .container {
        max-width: 768px;
    }
}

/* lg */
@media screen and (min-width: 1024px) {
    .container {
        max-width: 1024px;
    }
}

/* xl */
@media screen and (min-width: 1280px) {
    .container {
        max-width: 1280px;
    }
}

/* xxl */
@media screen and (min-width: 1536px) {
    .container {
        max-width: 1536px;
    }
}  
*/


.cta a{
    display: inline-block;
    font-weight: 900;
    text-decoration: none;
    letter-spacing: -0.05em;
    background-color: var(--clr-orange);
    color: var(--clr-light);
    padding: 0.5em 1em;
    border-radius: 10px;
    box-shadow: -1px -12px 28px 7px rgba(240, 92, 38, 0.5);
}

.cta :hover {
    display: inline-block;
    font-weight: 900;
    text-decoration: none;
    letter-spacing: -0.05em;
    background-color: var(--clr-orange);
    color: var(--clr-dark);
    border-radius: 10px;
    box-shadow: -1px -22px -40px 10px rgba(240, 92, 38, 0.5);
}

:root {
  --nav-height: 136px; /* Set the height for your fixed nav */
  --sticky-nav-height: 50px; /* Set the height for your sticky nav */
}

/* .banner {
background-image: url("../public/campus.png");
background-size: cover;
background-position: center center;
background-repeat: no-repeat;
background-attachment: fixed;
height: 290px;
display: flex;
align-items: center;
max-width: 1536px;
border: 2px solid blue;
}

 */




/* .full-width-section {
    width: 100vw;
    margin-left: calc(-50vw + 50%);
    margin-right: calc(-50vw + 50%);
  } */




.container__firstpage {
  margin-top: 20px;
  margin-bottom: 20px;
  height: auto;
}


/* .main h2 {
  text-align: center;
} */




  /* Banner Container */
.container__banner {
  position: relative;
  max-width: 1536px;
  /* margin-top: 136px; */
  margin-top: var(--nav-height); /* This ensures the content doesn't hide behind the fixed nav */
  height: 190px;
  overflow: hidden;
}

/* Image in Pages Container */
.container__pages img {
  width: 100%;
  height: auto;
  display: block;
  z-index: 1;
}

/* Banner Overlay */
.banner__overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 2;
}


/* Banner Content */
.banner__content {
  position: absolute;
  padding: 0 60px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 3;
  width: 100%;
  height: 100%;
  /* border: 5px solid black; */
}

/* Heading in Banner Content */
.banner__content h2 {
  font-size: 50px;
  color: white;
  text-transform: uppercase;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}





  .nav-button {
    display: inline-block;
    width: 100%;
    padding: 10px 20px;
    margin: 10px 0;
    background-color: var(--clr-dark);
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    color: white;
  }
  
  .nav-button:hover {
    background-color: var(--clr-orange);
  }
  
  .nav-button.active {
    background-color: var(--clr-orange);
  }
  






.section {
    padding: 2rem;

}

.sectionline {
  border: none;
  border-top: 1px solid #ddd; /* Light gray color */
  margin: 1em 0;
}






.container {
    max-width: 1536px;
    margin: 0 auto;
    padding: 0 20px;
  }

  .nav-content {
    display: flex;
    align-items: center;
    /* justify-content: space-between; */ /* Remove this line */
    width: 100%;
    
   
  }

  

  .container__pages {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
  }

/* Dropdown menu styles */

.header__nav-list {
    position: relative;
  }
  
  .main-list li,
  .secondary-list li {
    position: relative;
    
  }
  
  .main-list li:hover .dropdown,
  .secondary-list li:hover .dropdown {
    display: block;
    transition-duration: 0.2s;

    
  }

  .nav-item a {
    display: block;
    padding: 10px;
  }
  
  .main_list .dropdown, 
  .seconday_list .dropdown {
    display: block;

  }

  .dropdown,
.sub-dropdown {
  display: none;
  position: absolute;
  min-width: max-content;
  width: 300px;
  text-align: center;
  border-radius: 5px;
  box-shadow: 3px 2px 3px 1px rgba(0, 0, 0, 0.1);
  right: 0; /* Adjust the alignment with the parent element */
  padding: 0;
  z-index: 999999;
  background-color: #ffff;
}


  .dropdown li:hover > .sub-dropdown {
  display: block;
}

  .dropdown li a:hover, 
  .sub-dropdown li a:hover {
    background-color: var(--clr-orange);
    color: var(--clr-light);
  }


  .has-dropdown:hover, 
  .sub-dropdown:hover {
    display: block;
  }
  
  .sub-dropdown {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #f9f9f9;
    padding: 10px;
    list-style-type: none;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  }

  
  
  .sub-dropdown li {
    margin-bottom: 5px;
  }
  
  .sub-dropdown li:last-child {
    margin-bottom: 0;
  }
  
  .main-list li {
    display: inline;
  }
  
  .secondary-list li {
    margin-bottom: 9px;
  }
  
  .main-list a,
  .secondary-list a {
    display: block;
    padding: 10px;
    color: #333;
    text-decoration: none;
  }
  .main-list li.active a {
    text-decoration: underline;
  }
  .secondary-list li.active a {
    text-decoration: underline;
  }
    

  



/* styles for responsive design */

/* xs */
@media screen and (min-width: 475px) {
    .container {
        max-width: 475px;
    }
}

/* sm */
@media screen and (min-width: 640px) {
    .container {
        max-width: 640px;
    }
}

/* md */
@media screen and (min-width: 768px) {
    .container {
        max-width: 768px;
    }
}

/* lg */
@media screen and (min-width: 1024px) {
    .container {
        max-width: 1024px;
    }
}

/* xl */
@media screen and (min-width: 1280px) {
    .container {
        max-width: 1280px;
    }
}

/* xxl */
@media screen and (min-width: 1536px) {
    .container {
        max-width: 1536px;
    }
} 



/* CSS styles for the search bar */
.search-container {
    position: relative;
    border: solid 1px black;
    height: 100%;
    display: flex;
    align-items: center;
    background-color: #f1f1f1;
    margin-right: 60px;
  }
  
  #search-bar {
    padding: 8px 20px;
    border: none;
    border-radius: 4px;
    font-size: 20px;
    width: 200px;
    box-sizing: border-box;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    display: none;
  }
  
  
  #search-icon {
    position: absolute;
    top: 50%;
    right: 16px;
    transform: translateY(-50%);
    color: black;
    font-size: 1.5em;
    cursor: pointer;
    padding: 9px 8px;
  }


  

  #search-icon:hover {
    background-color: var(--clr-orange);
    color: black;
  }


  #search-bar:focus {
    outline: none;
  }
  

